deliveryoptimizer/cargo_storageOpt/CLP_GA/CLP_BR_Data
packaging/backend/deliveryoptimizer/db.sqlite3
deliveryoptimizer/cargo_storageOpt/__pycache__/
deliveryoptimizer/cargo_storageOpt/migrations/
*.pyc
*.code-workspace
env/
